body{
   margin: 0%;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: peachpuff;
}

#editForm{
  font-family: 'Courier New', Courier, monospace;
  background-color: aqua;
  text-align: center;
  color:rebeccapurple;
}

#submitForm{
  margin-top: 50px;
}

#firstname{
  margin-right: 20px;
  margin-top: 50px;
}

#lastname{
  margin-right: 15px;
}

#email{
  margin-right: -27px;
}

#mobile{
  margin-right: -27px;
}

#avatar{
  margin-left: 40px;
}

#editContact{
  margin-left: 560px;
}

#avatarImage{
    margin-bottom: 1.5rem;
    text-align: center;
}

#refresh{
  margin-left: 580px;
  margin-bottom: 80px;
  margin-top: 20px;
}

table{
  margin-bottom: 15px;
  margin-left: 450px;

}

#img p{
  text-align:center;
  margin-top: 20px;
}

td{
  text-align: center;
  padding: 20px;
}

th{
  text-align: center;
  padding-bottom: 10px;
}

h3{
  text-align: center;
  margin-right: 50px;
  color: rgb(226, 43, 67);
}

.carousel-item img{
  margin-left: 350px;
}
